/* Адаптация для hero */
@media (max-width: 1920px) {
    .hero {
        background-image: url(/images/hero1920.png);
    }
}

@media (max-width: 1024px) {
    .hero {
        background-image: url(/images/hero1024.png);
        max-height: 640px;
    }

    .hero .logo {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .hero .logo img {
        width: 200px;
    }

    .hero .links .link-1 img, .hero .links .link-2 img {
        height: 65px;
        width: 350px;
    }

    .hero .links .link-1 h3, 
    .hero .links .link-2 h3 {
        transform: translate(200%, -185%);
    }

    .hero .links .link-2 h3 {
        transform: translate(250%, -180%);
    }
}

@media (max-width: 768px) {
    .hero {
        background-image: url(/images/hero768.png);
        max-height: 100%;
    }

    .hero .logo {
        padding-top: 280px;
        padding-bottom: 150px;
    }

    .hero .logo img {
        width: 250px;
    }

    .hero .links .link-1 img,
    .hero .links .link-2 img {
        height: 70px;
        width: 400px;
    }

    .hero .links .link-1 h3,
    .hero .links .link-2 h3 {
        transform: translate(220%, -185%);
    }

    .hero .links .link-2 h3 {
        transform: translate(275%, -180%);
    }
}

@media (max-width: 390px) {
    .hero {
        background-image: url(/images/hero390.png);
        max-height: 780px;
    }

    .hero .logo {
        padding-top: 230px;
        padding-bottom: 150px;
    }

    .hero .links .link-1 img, .hero .links .link-2 img {
        height: 60px;
        width: 330px;
    }

    .hero .links .link-1 h3,
    .hero .links .link-2 h3 {
        transform: translate(180%, -175%);
    }

    .hero .links .link-2 h3 {
        transform: translate(230%, -170%);
    }

    .hero .logo img {
        width: 230px;
    }
}

/* Адаптация для блока с Продукцией */
@media (max-width: 659px) {
    .items {
        display: grid;
        place-items: center;
    }
}

@media (max-width: 520px) {
    .items .items-cat h1 {
        font-size: 28px;
    }
}