/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Базовые стили */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    /* background: rgb(27,26,27);
    background: linear-gradient(0deg, rgba(27,26,27,1) 0%, rgba(10,10,10,1) 100%); */
    background-color: #060606;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* Секция Hero */
.hero {
    background-image: url('/images/hero1440.png');
    box-shadow: inset 0 0 800px rgba(0, 0, 0, 0.9);
    height: 900px;  
    margin-top: -100px;
}

.hero .logo {
    padding-top: 200px;
    display: grid;
    place-items: center;
    padding-bottom: 100px;
}

.hero .logo img {
    width: 250px;
}

.hero .links {
    display: grid;
    place-items: center;
}

.hero .links .link-1,
.hero .links .link-2 {
    opacity: 1;
    transition: 0.2s ease-in-out;
    z-index: 0;
    padding-bottom: 25px;
}

.hero .links .link-1 img,
.hero .links .link-2 img  {
    filter: invert(23%) sepia(61%) saturate(4000%) hue-rotate(339deg) brightness(98%) contrast(110%);
    height: 70px;
    width: 450px;
}

.hero .links .link-2 img {
    filter: invert(1) brightness(2);
    transition: 0.1s ease;
}

.hero .links .link-1:hover,
.hero .links .link-2:hover {
    opacity: 0.6;
}

.hero .links .link-1 h3,
.hero .links .link-2 h3 {
    color: white;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    transform: translate(260%, -185%);
}

.hero .links .link-2 h3 {
    color: rgb(232, 12, 12);
    transform: translate(330%, -180%);
}

/* Стили для секции с категориями */
.categoryes {
    display: flex;
    padding: 50px 70px;
}

.categoryes .block {
    position: relative;
    display: inline-block; 
    margin-right: 20px;
    flex: 0 0 auto;
    width: 200px;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.categoryes .block:hover {
    opacity: 0.6;
}

.categoryes .block img {
    display: block;
    width: 200px;
    height: 50px;
    filter: invert(23%) sepia(61%) saturate(4000%) hue-rotate(339deg) brightness(98%) contrast(110%);
}

.categoryes .block p {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/* Стили для секции с товаром */
.items {
    padding: 50px 100px;
}

.items .items-cat img {
    filter: invert(23%) sepia(61%) saturate(4000%) hue-rotate(339deg) brightness(98%) contrast(110%);
    height: 60px;
    min-width: 100%;
    max-width: 100%;
    z-index: 0;
}

.items .items-cat h1 {
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-top: -35px;
}

.items .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    /* justify-content: start; */
}

.items .container .block {
    padding: 15px;
    max-width: 229px;
    max-height: 320px;
    padding: 15px;
}

.items .container .block:hover {
    border: 1px solid rgb(195, 21, 21);;
    border-radius: 10px;
    padding: 14px;
}

.items .container .block .food-img {
    max-width: 215px;
    max-height: 215px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.items .container .block .buy-item {
    border: 1px solid rgb(195, 21, 21);
    border-radius: 5px;
    padding: 10px;
}

.items .container .block .info-item {
    padding-bottom: 15px;
}

.items .container .block .info-item p {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.items .container .block .buy-item, 
.items .container .block .info-item {
    align-items: center;
}

.items .container .block .buy-item:hover {
    background-color: rgb(195, 21, 21);
}

.items .container .block .buy-item p,
.items .container .block .info-item p {
    margin-right: 10px; 
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.items .container .block .buy-item .buy {
    float: right;
    display: flex;
    opacity: 1;
    transition: 0.1s ease-in-out;
}

.items .container .block .buy-item .buy .img,
.items .container .block .info-item .img {
    width: 25px;
    height: 25px;
    opacity: 1;
    filter: invert(100%) grayscale(100%) brightness(100%) contrast(100%);
}

.items .container .block .info-item .img:hover {
    opacity: 0.7;
}

.items .container .block .info-item .img {
    float: right;
    margin-right: 10px;
}